@import "../../_variables";

.main {
  padding-top: 10px;
  padding-bottom: 30px;
}

.search-bar {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 25px;

  @media (min-width: 360px) {
    padding-left: 50px;
    padding-right: 50px;
  }
  @media (max-width: 360px) {
    padding-left: 25px;
    padding-right: 25px;
  }
}
