@import "../../../_variables";

.search-items {
  color: white;
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  @media (min-width: $low-res-target) {
    padding-left: 50px;
  }
  @media (max-width: $low-res-target) {
    padding-left: 25px;
  }

  .space-between {
    margin-right: 25px;
  }
}
